

.main-raised {
    margin: -60px 30px 0;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

.main {
    background: #FFFFFF;
    position: relative;
    z-index: 3;
    padding-top: 5%;
    opacity: 1;
    min-height: 60vh;
}
.title {
    margin-top: 30px;
    min-height: 32px;
    color: #3C4858;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.section {
    padding: 70px 0;
}

.description, .card-description, .footer-big p {
    color: #999;
}

h5, .h5 {
    font-size: 1.0625rem;
    line-height: 1.55em;
    margin-bottom: 15px;
    font-weight: 300;
}

.info {
    max-width: 360px;
    margin: 0 auto;
    padding: 70px 0 30px;
}

.info .info-title {
    color: #3C4858;
    margin: 1.75rem 0 0.875rem;
    font-weight: 700;
}

.info .icon>svg {
    width: 5.85rem;
}

.title.text-center {
    margin-bottom: 50px;
}

label-floating {
    color: #AAAAAA;
    will-change: left, top, contents;
    margin: 0;
    line-height: 1.4;
    font-weight: 400;
    top: 2.3125rem;
}
