.modal-header {
    background: #e53270;
    color: white;
}

.modal-content {
    border-radius: 15px;
    box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

div#example-modal-sizes-title-lg {
    font-weight: 700;
}

.modal-body {
    padding: 2.5rem;
}