:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

.mb-5 {
  margin-bottom: 50px !important;
}

body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--veryLightGray);
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

h1:first-of-type {
    font-weight: var(--weight1);
    color: var(--varyDarkBlue);

}

h1:last-of-type {
    color: var(--varyDarkBlue);
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}

.header {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 50px;
    margin-top: 100px;
}

.header p {
    margin: 0 auto;
    line-height: 2;
    color: var(--grayishBlue);
}


.box p {
    color: black;
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;  
}

.float-right {
    float: right;
}

.row{
justify-content: space-between;
}

@media only screen and (max-width: 450px) {
    #mobileProgress {
      display: block;
    }
    #desktopProgress {
        display: none;
      }
  }

  @media only screen and (min-width: 450px) {
    #desktopProgress {
        display: block;
      }
    #mobileProgress {
      display: none;
    }
  }

@media (max-width: 450px) {
    .box {
        height: 400px;
       margin: 0px;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }
}


.progress-tiny{font-size:10px!important}.w3-small{font-size:12px!important}.w3-medium{font-size:15px!important}.w3-large{font-size:18px!important}
.progress-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.progress-green,.w3-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.progress-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}
.progress-orange,.w3-hover-orange:hover{color:#000!important;background-color:#ff9800!important}

.cyan {
    border-top: 3px solid var(--cyan);
}
.red {
    border-top: 3px solid var(--red);
}
.blue {
    border-top: 3px solid var(--blue);
}
.orange {
    border-top: 3px solid var(--orange);
}

.yellow {
    border-top: 3px solid yellow;
}

.green {
    border-top: 3px solid green;
}

h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}

img.card-img {
    width: 20%;
}

.pagination {
    float: right;
}

.width-25 {
    width: 25%;
}

